.namecard-horz {
    background: linear-gradient(136deg, #b7b7b710, #b9b9b900);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgb(162, 162, 162);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: max-content;
    /* background-color: green; */
    width: 250px;
    margin-top: 3rem;
    margin-left: 3rem;
    padding: 0.5rem;
}

.namecard-horz .profile .profile-info {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: max-content;
    text-wrap: wrap;
    margin-left: 2rem;
    width: 14rem;
}

.namecard-horz .profile .profile-info .profile-name {
    font-weight: 900;
    flex-grow: 1;
    font-size: 1.5rem;
    /* line-height: 1.2em; */
    position: relative;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: 0px solid red;
    gap: 10px;
    line-height: 1em;
    margin-bottom: 10px

    /* padding-left: 3rem; */
}

.namecard-horz .descrip {
    padding-top: 0.2rem;
    font-style: italic;
    margin-top: 0.75rem;
    width: 100%;
    border-top: 1px solid rgb(179, 179, 179);
    font-weight: 100;
    
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.namecard-horz .role {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: 0.8rem;
    padding: 2px;
}

.namecard-horz .hex-mask {
    position: absolute;
    transform: scale(2);
    background-image: url("/assets/mask.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: -20px;
}

.namecard-horz .profile-name .ext-link {
    position: relative;
    top: 0.07em;
    right: -0.2em;
}

.namecard-horz .nm-profile-pic-pic {
    width: 3em;
    height: 3em;
    border: 1.5px solid hsl(0, 0%, 100%);
    mask-image: url("/assets/mask.svg");
    mask-size: contain;
    transform: scale(0.985);
    border: none;
}