.namecard-v {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.8px solid hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    width: 15em;
    background: linear-gradient(125deg, hsla(0, 0%, 85%, 20%), transparent);
    gap: 0.5em;
    padding: 0.7em;
    backdrop-filter: blur(3px);
}

/*
.namecard-v * {
    outline: 1px solid lime;
} */

.namecard-v .divider {
    border: 1px solid hsla(0, 0%, 100%, 50%);
    height: 0;
    width: 80%;
    margin: 0.2em
}

.namecard-v .intro {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* border: 1px solid #fff; */
    position: relative;
    margin-top: 5em;
    width: 100%
}

.namecard-v .intro .profile-pic {
    width: 9em;
    height: 9em;
    position: absolute;
    top: -10em;
    left: 50%;
    transform: translateX(-50%);
}

.namecard-v .intro .profile-pic .fakeborder {
    width: 9em;
    height: 9em;
    position: absolute;
    transform: scale(1.03);
    opacity: 0.5;
}

.namecard-v .intro .profile-pic .hexagon {
    width: 100%;
    height: 100%;
    mask-image: url("/assets/mask.svg");
    mask-size: contain;
}

.namecard-v .desc {
    /* border: 2px solid green; */
    width: 100%;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 1.2em;
    height: 4em;
}

.namecard-v .intro .details .name {
    font-size: 1.6em;
    line-height: 1.2em;
    /* padding-bottom: 0.3em; */
    height: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
}
.namecard-v .intro .details .post {
    font-size: 1em;
    font-weight: 300;
    position: relative;
}
.namecard-v .intro .details .post .post-icon {
    width: 1em;
    height: 1em;
    margin-right: 5px;
    position: relative;
    top: 3px
}

@media only screen and (max-width: 800px) {
    .namecard-v {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .namecard-v {
        font-size: 18px;
    }
}