.bg{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: -20;
	position: fixed;
}
.bg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.frame{
	width: 100vw;
	height: calc(100vh - 90px);
	position: absolute;
	top: 90px;
	left: 0;
	border: 0px solid red;
	padding: 20px;
	position: fixed;
	z-index: -10;
}
.frame img{
	width: 100%;
	min-width: 100vh;
	height: 100%;
	object-fit: fill;
	object-position: center;
	border: 0px solid red;
}
.page{
	border: 0px solid red;
	margin: 110px 20px 20px 20px;
	width: calc(100% - 40px);
	min-height: calc(100vh - 130px);
}