* {
	--bw: 0px;
}

.bg{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -20;
	position: fixed;
}
.bg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.bg.chapter{
	width: 50%;
	height: 100%;
}
.frame{
	width: 100vw;
	height: calc(100vh - 80px);
	position: absolute;
	top: 90px;
	left: 0;
	border: var(--bw) solid red;
	padding: 20px;
	position: fixed;
	z-index: -10;
}
.frame img{
	width: 100%;
	min-width: 100vh;
	height: 100%;
	object-fit: fill;
	object-position: center;
	/* border: var(--bw) solid red; */
}
.page{
	border: var(--bw) solid rgb(0, 255, 255);
	/* margin: 110px 20px 3px 20px; */
	margin-top: 110px;
	margin-left: 23px;
	width: calc(100% - 46px);
	height: calc(100vh - 125px);
	/* min-height: calc(100vh - 120px); */
	position: relative;
	overflow: hidden;
}
.inner-content{
	border: var(--bw) solid yellow;
	width: calc(100% - 6vw);
	height: calc(100vh - 130px - 10vh - 12vh);
	margin: 6vh 3vw;
}
.outer-content{
	border: var(--bw) solid greenyellow;
	width: calc(100% - 5.5vw);
	height: calc(100vh - 130px - 10vh);
	margin: 5vh 2.7vw 5vh 2.5vw;
	position:absolute
}
.top-left{
	border: var(--bw) solid pink;
	position: absolute;
	top: 5px;
	left: 10px;
}
.top-right{
	border: var(--bw) solid pink;
	position: absolute;
	top: 10px;
	right: 10px;
}
.bottom-right{
	border: var(--bw) solid pink;
	position: absolute;
	bottom: 0px;
	right: 10px;
}
.bottom-left{
	border: var(--bw) solid pink;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.cls {
	width: 27px;
	height: 27px;
}

@media only screen and (max-width: 900px) {
	.frame {
		display: none
	}
}

@media only screen and (max-width: 480px) {
	.page {
		margin-top: 0px;
		padding-top: 70px;
		width: 100vw;
		margin-left: 0;
		min-height: 100vh;
		padding-left: 2rem;
		padding-right: 2rem;
	}

}
