.EventCardMain .tabLabels-wrapper {
    cursor: pointer;
    /* font-size: 8.2px !important; */
    position: relative;
    width: 24rem !important;
    height: 7.5rem ;
    z-index: 1 ;
    clip-path: polygon(0 0, 60% 0, 90% 40%, 98% 39%, 100% 46%, 100% 100%, 0 100%);
}

.EventCardMain {
    width: 24rem;
    position: relative;
}

@keyframes animateTitle {
    0% {
        left: 0%;
        opacity: 1;
        right: 0%;
    }
    100% {
        left: 40%;
        opacity: 0;
        right: -140%;
    }
}

.EventCardMain .tabLabels-wrapper .section1::after {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    /* background: var(--gradient1); */
    animation: animateTitle 1s forwards;
}

.EventCardMain .tabLabels-wrapper .section1 {
    /* backdrop-filter: blur(19px); */
    mix-blend-mode: screen;
    border: 1px solid rgb(157, 151, 151);
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.EventCardMain .tabLabels-wrapper .section1 .title {
    width: 70%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0.5rem 1rem;
}

.EventCardMain .tabLabels-wrapper .section1 .title h1 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 5px
}

.EventCardMain .tabLabels-wrapper .section1 .title h4 {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1em;
}

@keyframes animateImg {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(200deg);
        opacity: 1;
    }
}

@keyframes animateImg2 {
    from {
        scale: 0.85;
    }
    to {
        scale: 1;
    }
}

.EventCardMain #eventMainImg {
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    width: 8rem;
    aspect-ratio: 1;
    top: -7%;
    right: 3%;
}

.EventCardMain #eventMainImg img {
    position: relative;
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 15 !important;
    animation: animateImg2 1s forwards;
}

.EventCardMain #eventMainImg span {
    position: absolute;
    top: 30%;
    height: 4rem;
    left: -20%;
    right: -20%;
    background-color: rgba(255, 217, 0, 0.486);
    z-index: 10 !important;
    animation: animateImg 1s forwards;
}

.EventCardMain .section2 {
    position: relative;
    z-index: 0;
    padding-top: 30px;
    top: -25px;
    font-size: 8px;
    background: rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(36px); */
    /* -webkit-backdrop-filter: blur(36px); */
    width: 100%;
    border-radius: 0.7rem;
    border: 1px solid rgb(157, 151, 151);
}

.EventCardMain .section2 .upper {
    display: flex;
    width: 100%;
    /* height: 40%; */
    background-color: transparent;
}

.EventCardMain .section2 .upper .left {
    width: 70%;
    height: 100%;
}

.EventCardMain .section2 .upper .right {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

.EventCardMain .section2 .upper .right .detail {
    /* background: linear-gradient(36deg, #928b8b3e, rgba(183, 177, 177, 0.326)); */
    /* backdrop-filter: blur(18px); */
    /* -webkit-backdrop-filter: blur(18px); */

    background: rgba(125, 125, 125, 0.5);
    display: flex;
    flex-direction: column;
    /* gap: 0.1rem; */
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0.4rem 0.5rem;
    justify-content: center;
    align-items: start;
    /* font-size: xx-small !important; */
}

.EventCardMain .section2 .upper .right .detail .label {
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 5px
}

.EventCardMain .section2 .upper .right .detail h4 {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1em;
}

.EventCardMain .section2 .upper .right .detail .time {
    font-size:  0.8rem;
    font-weight: 100;
}

.EventCardMain .section2 .upper .left .description {
    padding: 0rem 1.5rem 0rem 0.5rem;
    display: -webkit-box;
    font-size: 1rem;
    font-weight: 100;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    max-height: 10rem;
}

.EventCardMain .section2 .upper .left .TagWrapper {
    display: flex;
    gap: 0.2rem;
    padding: 0.5rem;
    width: 70%;
    flex-wrap: wrap;
}

.EventCardMain .section2 .upper .left .TagWrapper .tag {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.8em;
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 0rem 0.2rem;
}

.EventCardMain .section2 .lower {
    display: flex;
    height: 25%;
    justify-content: space-around;
    align-items: center;
}

.EventCardMain .section2 .lower-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;

    padding: 1rem 1rem 0.5rem 0.2rem;
}

.EventCardMain .section2 .lower-left {
    display: flex;
    gap: 0.5rem;
    height: 50%;
    justify-content: start;
    align-self: end;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.EventCardMain .section2 .lower .progressDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.EventCardMain .section2 .lower img {
    height: 100%;
    z-index: 10;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.EventCardMain .section2 .lower-left .know-more {
    background-color: var(--g-red);
    font-size: 1rem;
    border-radius: 5px;
    border: 0px;
    padding: 0.5rem 0.4rem;
    width: max-content;
    position: relative;
    /* z-index: 30; */
    cursor: pointer;
    transition: 100ms ease all;
}

.EventCardMain .section2 .lower-left .know-more:hover {
    scale: 1.05;
}
.EventCardMain .section2 .lower-left .know-more:active {
    scale: 0.98;
}
