.Event-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5rem;
}

.eventsBox {
    display: flex;
    width: 100%;
}

.eventsBox .eventCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.eventsBox .eventLabels {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: end
}

.eventsBox .eventLabels .eventLabelsBoxes {
    display: flex;
    flex-direction: column;
    /* height: 85%; */
    justify-content: start;
    align-items: center;
    /* overflow: scroll; */
    gap: 1rem;
}

.eventsBox .eventLabels .eventLabelsSlider {
    /* height: 85%; */
    /* width: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.eventsBox .eventLabels .eventLabelsSlider .indicator-bar {
    width: 5px;
    height: 5rem;
    border-radius: 100px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer
}

.eventsBox .eventLabels .eventLabelsSlider .indicator-bar.selected {
    background: #fff;
    transition: all ease 0.2s;
}

.events-mobile {
    display: none
}

.two-in-one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 1000px) {
    .eventsBox .eventCard {
        transform: scale(1) !important;
    }
}

@media only screen and (max-width: 900px) {
    .Event-wrapper {
        padding: 0px 1rem
    }

    .eventsBox {
        padding: 0 1em 0 1em;
    }
}

@media only screen and (max-width: 750px) {
    .events-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 95vw;
        height: 100%;
        /* border: 1px solid greenyellow; */
    }

    .eventsBox .eventCard,
    .eventsBox .eventLabels {
        display: none
    }

    .Event-wrapper {
        padding: 0;
    }
}