.button {
	padding: 12px 25px;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 15px;
	cursor: pointer;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	gap: 20px;
	/* line-height: 18px; */
	background-color: transparent;
	color: black;
	transition: 0.25s all;
	position: relative;
}

.button .start-icon .material-icons,
.button .end-icon .material-icons {
	font-size: 15px;
	height: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.button:hover {
	background-color: transparent;
	/* padding: 12px 35px 12px 15px; */
}

.button.small {
	font-size: 12px;
}
.button.large {
	font-size: 20px;
	padding: 15px 25px;
	font-weight: 600;
}
.button.icon {
	padding: 10px 15px;
	border-radius: 5px;
}
.button.filled{
	background-color: var(--primary);
	color: white;
}
.button.filled:hover{
	background-color: var(--primaryDark);
}
.button.filled.white {
	background-color: white;
	transition: 0.25s all;
	color: black;
}
.button.filled.white:hover {
	background-color: rgb(229, 227, 227);
}


.button.filled.black {
	background-color: rgb(30, 30, 30);
	transition: 0.25s all;
}
.button.filled.black:hover {
	background-color: black;
}
.button.outlined {
	background-color: transparent;
}

.button.outlined.white {
	/* background-color: white; */
	border: 2px solid white;
	transition: 0.25s all;
	color: white;
}
.button.outlined.white:hover {
	background-color: rgb(229, 227, 227);
	color: black;
}


.button.outlined.black {
	border: 2px solid rgb(21, 21, 21);
	transition: 0.25s all;
	color: rgb(21, 21, 21);
}
.button.outlined.black:hover {
	background-color: black;
	color: white;
}
.button.text {
	background-color: transparent;
}
.button.text.black {
	color: var(--black);
	transition: 0.25s all;
}
.button.text.black:hover {
	color: var(--black-dark);
}
.button .loading {
	animation: loading infinite linear 1s;
}
.button.filled:disabled{
	background-color: rgba(0, 0, 0, 0.2) !important;
	color: rgba(255, 255, 255, 0.5);
}
.button:disabled{
	color: rgba(0, 0, 0, 0.25);
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-180deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
