@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

*{
    font-family: "Chakra Petch";
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
}
body{
    background-image: url('/assets/bg/home_bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title{
    margin-bottom: 1rem;
    width: 100%;
    align-items: start;
}
.title .title-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 30px;
    font-size: 60px;
    font-weight: lighter;
}

.title .title-container .title-angle-bracket {
    font-size: 60px;
    color: red;
    font-weight: bold;
}

.parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 300px 300px;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
}

.leaderboard{
    width: 100%;
    max-width: 1000px;
    min-width: 370px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.leaderboard .view-full-leaderboard{
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.leaderboard .leaderboard-component{
    overflow-y: hidden;
}

@media (min-width: 768px){
    .parent .title .title-container .title-angle-bracket{
        font-size : 60px;
    }
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px){
    .grid-container{
        grid-gap: 60px;
    }
    .content-container{
        flex-direction: row;
    }
}