.cp_leaderboard-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cp-leaderboard-2 .title {
  width: 100%;
  align-items: start;
  margin-top: 2rem;
}

.cp-leaderboard-2 .content-container .top-coders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  transform-origin: top left;
  padding-top: 1.2em;
}

.cp-leaderboard-2 .title .title-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 30px;
  font-size: 3rem;
  font-weight: lighter;
}

.cp-leaderboard-2 .title .title-container .title-angle-bracket {
  font-size: 60px;
  color: red;
  font-weight: bold;
}

/* where is this ? */
.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cp-leaderboard-2 .content-container .grid-container {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 300px 300px;
}

.cp-leaderboard-2 .content-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: stretch;
  align-items: start;
  /* gap: 2rem; */
}

.cp-leaderboard-2 .content-container .leaderboard {
  /* width: 100%; */
  /* max-width: 1000px;
  min-width: 370px; */
  /* padding: 20px; */
  /* display: flex; */
  /* flex-direction: column; */
}

/* .cp-leaderboard-2 .content-container .leaderboard .view-full-leaderboard {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  gap: 20px;
}

.cp-leaderboard-2 .content-container .leaderboard .leaderboard-component {
  overflow-y: hidden;
} */

/* @media (min-width: 768px) {
  .cp-leaderboard-2 {
    flex-direction: column;
  }
  .cp-leaderboard-2 .title .title-container .title-angle-bracket {
    font-size: 60px;
  }
  .cp-leaderboard-2 .content-container .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* @media (min-width: 1200px) {
  .cp-leaderboard-2 {
    flex-direction: column;
  }
  .cp-leaderboard-2 .content-container .grid-container {
    grid-gap: 60px;
  }
  .cp-leaderboard-2 .content-container {
    flex-direction: row;
  }
} */

/* .cp-leaderboard-2 .content-container .leaderboard {
  margin: auto;
}

.cp-leaderboard-2 .content-container .grid-container {
  margin: auto;
} */
