.chapters-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    flex-direction: column;

}
/* 
@keyframes in-out {
    0%{
        opacity: 0
    }

    100%{
        opacity: 1
    }
} */
