.chapters-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin-top: 3rem;
    /* animation: in-out 0.5s linear forwards; */
    /* opacity: 0; */
}
/* 
@keyframes in-out {
    0%{
        opacity: 0
    }

    100%{
        opacity: 1
    }
} */
