.chapterpage-content .parent-section {
  display: flex;
  justify-content: center;
  width: 85vw;
  /* background-color: green; */
}

.chapterpage-content .parent-section .section-left {
  display: flex;
  align-items: start;
  /* justify-content: center; */
  flex-direction: column;
  flex-grow: 1;
  /* background-color: antiquewhite; */
}

.chapterpage-content .section-left .heading {
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  align-self: start;
  justify-self: start;
}

.chapterpage-content .section-left .heading span {
  color: red;
  font-size: 1.5rem;
  align-self: center;
}

.chapterpage-content .section-body {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: start;
  gap: 2rem;
  margin-top: 2rem;
}

.chapterpage-content .section-body .body-label {
  font-size: 1rem;
  /* font-weight: 900; */
}

.chapterpage-content .section-body .body-value {
  font-size: 1.5rem;
  font-weight: 900;
}

.chapterpage-content .section-body .card {
  border: 1px solid rgb(148, 148, 148);
  border-radius: 5px;
  padding: 1rem;
  backdrop-filter: blur(4px);
}

.chapterpage-content .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  z-index: -1;
}

.chapterpage-content .development-bg {
  background: url("../public/assets/bg/development.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.chapterpage-content .cybersecurity-bg {
  background: url("../public/assets/bg/cybersecurity.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.chapterpage-content .aiml-bg {
  background: url("../public/assets/bg/aiml.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.chapterpage-content .uiux-bg {
  background: url("../public/assets/bg/uiux.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.chapterpage-content .cpdsa-bg {
  background: url("../public/assets/bg/cpdsa.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.chapterpage-content .media-bg {
  background: url("../public/assets/bg/media.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.chapterpage-content .diversity-bg {
  background: url("../public/assets/bg/diversity.png");
  background-size: contain;
  background-repeat: no-repeat;
}
