.home{
	/* height: ; */
	overflow: hidden;
}
.home .heading{
	margin: auto;
	margin-top: 20vh;
	/* transform: translateY(-80%); */
	width: fit-content;
	border: 0px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home .heading .title{
	
	font-size: 4rem;
	font-weight: 400;
	line-height: 4rem;
	display: flex;
	flex-direction: column;
	text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.433);
}
.home .heading .title .line{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.home .heading .title .line.line1{
	padding-right: 10rem;
	opacity: 0;
	animation: enter-right 1s ease 0s 1 normal forwards;
	/* transform: translateX(-10rem); */
	/* opacity:0; */
}
@keyframes bounce-to-right {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
		opacity: 1;
	}
}
.home .heading .title .line.line2{
	padding-left: 10rem;
	opacity: 0;
	animation: enter-left 1s ease 0s 1 normal forwards; ;
}
@keyframes bounce-to-left {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
		opacity: 1;
	}
}
.home .heading .title .line .red{
	font-size: 3rem;
	color: var(--red);
	
}
.home .heading .tagline{
	font-size: 1.2rem;
	margin-top: 1rem;
	text-align: center;
	animation: enter-top 1s ease 0.5s 1 normal forwards;
	opacity: 0;

}
@keyframes enter-top {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.home .heading .logos{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 2rem;
}
.home .heading .logos .item{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	font-size: 1.5rem;
	font-weight: 400;
	opacity: 0;
	animation: enter-bottom 1s ease 1s 1 normal forwards;
}
@keyframes enter-bottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.home .heading .logos .x {
	animation: scale-up 1s ease 1s 1 normal forwards;
	transform: scale(0);
	opacity: 0;
}
@keyframes scale-up {
	to {
		opacity:1;
		transform: scale(1)
	}
}
.home .heading .logos .minified {
	display: none;
}
.home .heading .logos .item img{
	width: 50px;
}
.home .heading .logos .minified img {
	width: 70px;
	opacity: none;
	animation: in 1.2s ease 0s 1 normal forwards
}
.home .row{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 2rem;
}
.home .events-progress{
	border: 0px solid yellow;
	width: fit-content;
	padding: 10px;
	/* padding: 0rem 2rem; */
}
.home .events-progress .name{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	animation: loadup 1s linear forwards;
	/* animation-delay: 5s; */
	opacity: 0
}
.home .events-progress .name .progress{
	font-size: 1.5rem;
}
.home .new-events{
	/* background: var(--gradient1); */
	/* background: linear-gradient(to right, var(--red), var(--blue)); */
	
	padding: 10px 30px;
	transform: skew();
	/* position: relative; */
	border: 0px solid yellow;
	width: fit-content;
	margin-bottom: 1rem;
	animation: enter-left 1s ease 1s 1 normal forwards;
	opacity: 0;
}
@keyframes enter-left {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes enter-right {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.home .new-events::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 100%;
	background: linear-gradient(to right, var(--red), var(--blue));
	background-size: 200%;
	background-position: center;
	z-index: -1;
	transform: skewX(-30deg);
}
.home .new-events .line{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.home .new-events .line .name{
	font-size: 1.5rem;
}

@media only screen and (max-width: 950px){
	.home .heading {
		margin-top: 2rem;
	}

	.home .heading .title .line.line1 {
		padding-right: 0;
	}
	.home .heading .title .line.line2 {
		padding-left: 0;
	}
	.home .heading .title  {
		font-size: 2.5rem
	}
	.home .heading .logos .minified{
		display: flex;
		gap: 3rem;
		border: 0px solid red;
		flex-wrap: wrap;
		margin-top: 3rem;
	}
	.home .heading .logos .item, 
	.home .heading .logos .x {
		display: none;
	}

	.home .heading .tagline {
		padding-top: 3rem;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 950px) {
	.home .new-events {
		display: none;
	}
}