.chapter-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  flex-direction: column;
  margin-right: 5rem;
  gap: 1rem;
}

.chapter-content .section-1 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding: 0.5em 0rem 1rem 0;
  /* padding-bottom: 0.5rem; */
  border-bottom: 0.8px solid rgb(129, 129, 129);
}

.icon-wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 0.6rem;
}

.icon-wrapper p {
  font-size: 0.8em;
  line-height: 1.2em;
  width: 11ch;
  text-align: center;
}

.icon-wrapper img {
  width: 4.2em;
}

.chapter-content .section-2 {
  font-weight: 800;
  font-size: 3.7em;

  align-self: start;
  /* padding-left: 1rem */
}

.chapter-content .section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.chapter-content .section-3 .image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
  padding-left: 2rem;
  border-left: 0.8px solid white;
  height: 100% !important;
}


.chapter-content .section-3 .image .image-label {
  font-size: 1.3em;
  font-weight: 900;
  width: 10ch;
  text-align: center;
}

.chapter-content .section-3 .image img {
  flex-grow: 1;
  width: 5em;
}

.chapter-content .section-3 .image p {
  width: 15ch;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  gap: 2rem;
  line-height: 1em;
}

.chapter-content .section-3 .typography {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 100% !important;
  padding-right: 2rem;
  
}

.chapter-content .section-3 .typography .heading {
  font-weight: bold;
  font-size: 2em;
  /* padding-bottom: 0.5rem; */
  flex: 1;
}

.chapter-content .section-3 .typography p {
  font-size: 1.3em;
  line-height: 1.2em;
  height: 100% !important;
  flex: 1;
}

.chapter-content .section-4 {
  padding-top: 1em;
  font-weight: 400;

  /* width: 45ch; */
}

.chapter-content .section-4 p {
  font-weight: 100;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: justify;
}

.chapter-content .section-4 :nth-child(2) {
  font-size: 1em;
  padding-top: 1em;
  font-weight: 100;
}

@media only screen and (max-width: 1280px) {
  .chapter-content {
    width: 28rem;
    font-size: 0.9rem;
  }
}
